In [1]:
from selenium import webdriver
import pandas as pd

### Open Link

In [2]:
driver = webdriver.Chrome(r'chromedriver.exe')

driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()

In [3]:
# Policy Policy
button = driver.find_element_by_class_name('gdpr-accept')

try:
    button.click()
except:
    pass

### Create Locators

In [4]:
#name
pokemon_name = driver.find_elements_by_xpath('//tbody/tr/td[2]')

#type
pokemon_type = driver.find_elements_by_xpath('//tbody/tr/td[3]')

#total
pokemon_total = driver.find_elements_by_xpath('//tbody/tr/td[4]')

#HP
pokemon_hp = driver.find_elements_by_xpath('//tbody/tr/td[5]')

#Attack
pokemon_attack = driver.find_elements_by_xpath('//tbody/tr/td[6]')

#Defense
pokemon_defense = driver.find_elements_by_xpath('//tbody/tr/td[7]')

#Sp.Atk
pokemon_sp_attack = driver.find_elements_by_xpath('//tbody/tr/td[8]')

#SP.Def
pokemon_sp_defense = driver.find_elements_by_xpath('//tbody/tr/td[9]')

#Speed
pokemon_speed = driver.find_elements_by_xpath('//tbody/tr/td[10]')

### Empty List

In [5]:
pokemon_results = []

### Dictionary

In [6]:
for i in range(len(pokemon_name)):
    pokemon_dictionary={'Name':pokemon_name[i].text,
                       'Type': pokemon_type[i].text,
                       'Total':pokemon_total[i].text,
                       'HP': pokemon_hp[i].text,
                       'Attack':pokemon_attack[i].text,
                       'Defense': pokemon_defense[i].text,
                       'Sp.Attack': pokemon_sp_attack[i].text,
                       'Sp.Defense': pokemon_sp_defense[i].text,
                       'Speed':pokemon_speed[i].text}
    
    pokemon_results.append(pokemon_dictionary)

### Create Dataframe

In [7]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [8]:
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1040,Glastrier,ICE,580,100,145,130,65,110,30
1041,Spectrier,GHOST,580,100,65,60,145,80,130
1042,Calyrex,PSYCHIC\nGRASS,500,100,80,80,80,80,80
1043,Calyrex\nIce Rider,PSYCHIC\nICE,680,100,165,150,85,130,50
1044,Calyrex\nShadow Rider,PSYCHIC\nGHOST,680,100,85,80,165,100,150

### Replace Unnecessary Characters

In [9]:
#replace '\n' with '/'
dataframe_pokemon['Name'] = dataframe_pokemon['Name'].apply(lambda x: x.replace ('\n', '/'))

In [10]:
#replace '\n' with a comma
dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace ('\n', ','))

In [11]:
# updated dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,Sp.Attack,Sp.Defense,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,Venusaur/Mega Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1040,Glastrier,ICE,580,100,145,130,65,110,30
1041,Spectrier,GHOST,580,100,65,60,145,80,130
1042,Calyrex,"PSYCHIC,GRASS",500,100,80,80,80,80,80
1043,Calyrex/Ice Rider,"PSYCHIC,ICE",680,100,165,150,85,130,50
1044,Calyrex/Shadow Rider,"PSYCHIC,GHOST",680,100,85,80,165,100,150

### Dataframe to Excel

In [12]:
dataframe_pokemon.to_excel('pokemon_database_cleaned.xlsx', index=False)